################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatePi/v16/.suo
/.vs
/CalculatePi/.vs/CalculatePi/v16
/CalculatePi/CalculatePi/bin/Debug/netstandard2.0
/CalculatePi/CalculatePi/obj
/CalculatePi/CalculatePi.Test/bin/Debug/netcoreapp2.1
/CalculatePi/CalculatePi.Test/obj/Debug/netcoreapp2.1
/CalculatePi/CalculatePi.Test/obj
/CalculatePi/.vs/CalculatePi/DesignTimeBuild/.dtbcache
/CalculatePi/CalculatePi.CLI/bin/Debug/netcoreapp2.1
/CalculatePi/CalculatePi.CLI/obj
/CalculatePi/CalculatePi/bin/Release/netstandard2.0
/CalculatePi/CalculatePi.CLI/bin/Release/netcoreapp2.1
/CalculatePi/CalculatePi.Test/bin/Release/netcoreapp2.1
/CalculatePi/CalculatePi.Web/bin/Debug/netcoreapp2.2
/CalculatePi/CalculatePi.Web/obj
/CalculatePi/CalculatePi.Web/bin/Release/netcoreapp2.2
/CalculatePi/CalculatePi.Web/bin/Debug/netcoreapp2.1
/CalculatePi.CLI/obj
/CalculatePi.Library/obj
/CalculatePi.Test/obj
/CalculatePi.Web/obj
/CalculatePi.CLI/bin/Debug/netcoreapp2.1
/CalculatePi.Library/bin/Debug/netstandard2.0
/CalculatePi.Test/bin/Debug/netcoreapp2.1
/CalculatePi.Web/bin/Debug/netcoreapp2.1
